[user]
    name = b. vaughn sulit
    email = bvaughnsulit@gmail.com

[core]
    editor = nvim
  pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    keep-plus-minus-markers = true
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
